/* src/components/ImageCarousel.css */
.carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh; /* Full viewport height */
  }
  
  .carousel-images {
    display: flex;
    transition: transform 1s ease-in-out; /* Smooth sliding transition */
    height: 100%;
  }
  
  .carousel-image {
    min-width: 100%;
    height: 100%;
  }
  
  .carousel-image img {
    width: 100%;
    height: auto;
    display: block;
  }
  