/* Center arrows on left and right of the carousel */
.carousel-slider{
    padding: 20px 0px;
}
.carousel .control-arrow {
    position: absolute;
    top: 45% !important;
    z-index: 300;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.25s ease;
    font-size: 40px;
    color: #333;
    width: 40px;
    height: 40px;
    padding: 0px !important;
    background-color: rgb(134, 134, 134) !important;
}

.carousel .control-next.control-arrow {
   right: -5px;
}

.carousel .control-prev.control-arrow {
    left: -5px;
}
.carousel .control-dots {
    position: absolute;
    bottom: 8px; /* Adjust this to position the dots higher or lower */
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
}

.carousel .control-dots .dot {
    background: #ffffff;
    border-radius: 50%;
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
}

.carousel .control-dots .dot.selected {
    background: #000000; 
}
.slide .css-9p9bd6{
    background: rgba(0, 0, 0, 0) !important;
    box-shadow: 0px 0px 0px 0px !important;
}