/* src/App.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
.App {
  font-family: "Nunito", sans-serif;
}

.forgot-password a {
  color: #f4d03f; /* Yellowish color for links */
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
}